@{
    ViewData["Title"] = "Política de Privacidad";
}
<h2>@ViewData["Title"]</h2>

<p>En UrbanStep, nos comprometemos a proteger y respetar su privacidad. Esta Declaración de Privacidad describe cómo recopilamos, usamos, divulgamos y protegemos su información personal cuando interactúa con nuestro sitio web. Al acceder o usar nuestros servicios, usted acepta las prácticas descritas en esta política.</p>

<h4>1. Información que Recopilamos</h4>
<p>Recopilamos información de identificación personal (PII) cuando los usuarios visitan nuestro sitio, se registran, realizan una compra, dejan un comentario o interactúan de alguna otra manera con nuestro servicio. La información que podemos recopilar incluye:</p>
<ul>
    <li>Nombre</li>
    <li>Dirección de correo electrónico</li>
    <li>Dirección postal</li>
    <li>Número de teléfono</li>
    <li>Información de pago</li>
    <li>Información sobre sus preferencias o comportamiento en el sitio</li>
</ul>

<h4>2. Cómo Usamos la Información</h4>
<p>La información que recopilamos se utiliza para:</p>
<ul>
    <li>Procesar y completar las transacciones (compras, comentarios, registros)</li>
    <li>Mejorar la experiencia del usuario en el sitio</li>
    <li>Enviar correos electrónicos de confirmación o actualizaciones</li>
    <li>Proporcionar atención al cliente</li>
    <li>Enviar promociones, boletines informativos u otras comunicaciones relevantes (si está suscrito)</li>
</ul>

<h4>3. Protección de la Información</h4>
<p>Implementamos medidas de seguridad apropiadas para proteger su información personal. Utilizamos cifrado y otras tecnologías de seguridad para prevenir el acceso no autorizado, la alteración o la divulgación de sus datos.</p>

<h4>4. Uso de Cookies</h4>
<p>Nuestro sitio utiliza cookies para mejorar la experiencia del usuario. Las cookies son pequeños archivos de datos que se almacenan en su dispositivo cuando visita nuestro sitio. Puede controlar el uso de cookies en la configuración de su navegador. Para obtener más información sobre cómo utilizamos las cookies, consulte nuestra Política de Cookies.</p>

<h4>5. Compartir Información con Terceros</h4>
<p>No vendemos ni alquilamos su información personal a terceros. Podemos compartir su información con terceros proveedores de servicios que nos ayuden a operar nuestro sitio web o procesar pagos, siempre que esos proveedores mantengan la confidencialidad de su información. También podemos compartir información cuando sea requerido por la ley.</p>

<h4>6. Sus Derechos</h4>
<p>Dependiendo de su ubicación, puede tener derecho a acceder, corregir o eliminar su información personal que tenemos almacenada. Si desea ejercer alguno de estos derechos, contáctenos a través de la información proporcionada en nuestra página de contacto.</p>

<h4>7. Cambios en la Política de Privacidad</h4>
<p>Nos reservamos el derecho de modificar esta Declaración de Privacidad en cualquier momento. Cualquier cambio se publicará en esta página y entrará en vigor de inmediato. Le recomendamos revisar esta página periódicamente para estar al tanto de cualquier actualización.</p>

<h4>8. Contáctenos</h4>
<p>Si tiene alguna pregunta sobre nuestra Declaración de Privacidad o sobre cómo manejamos su información personal, no dude en contactarnos a través de:</p>
<ul>
 
    <li> UA, Ingeniería Multimedia, DSM</li>
</ul>

<p>Gracias por confiar en UrbanStep.</p>
