@using DsmGen.ApplicationCore.Enumerated.Dominio_dsm
@model Interfaz.Models.ArticuloViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<SelectListItem> marcaItems = (IEnumerable<SelectListItem>)ViewData["marcaItems"];
}

<h1 class="mb-4">Crear un nuevo artículo</h1>

<h4>Introduce los datos</h4>
<hr />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <!-- Cambié col-md-4 por col-md-8 para hacerlo más ancho -->
            <form asp-action="Create" class="formulario-envio form-nuevo" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label"></label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Talla" class="control-label"></label>
                    <select asp-for="Talla" asp-items="Html.GetEnumSelectList<Talla_artEnum>()" class="form-control"></select>
                    <span asp-validation-for="Talla" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Precio" class="control-label"></label>
                    <input asp-for="Precio" class="form-control" />
                    <span asp-validation-for="Precio" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Check_verificado" /> @Html.DisplayNameFor(model => model.Check_verificado)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="Recomendaciones" class="control-label"></label>
                    <input asp-for="Recomendaciones" class="form-control" />
                    <span asp-validation-for="Recomendaciones" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Desc_verificado" class="control-label"></label>
                    <input asp-for="Desc_verificado" class="form-control" />
                    <span asp-validation-for="Desc_verificado" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Marca" class="control-label"></label>
                    <select class="form-select" asp-for="Marca" asp-items="marcaItems"></select>
                    <span asp-validation-for="Marca" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Color" class="control-label"></label>
                    <input asp-for="Color" class="form-control" />
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Stock" class="control-label"></label>
                    <input asp-for="Stock" class="form-control" />
                    <span asp-validation-for="Stock" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Foto" class="control-label"></label>
                    <input asp-for="Foto" type="file" class="form-control-file">
                </div>
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-primary btn-block">
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
